
html, body {
    font-family: 'm6x11', 'JetBrains Mono', monospace;
    margin: 0;
}

#root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@font-face {
    font-family: 'm6x11';
    src: url(./assets/fonts/m6x11.ttf)
}
